.availableFilterContainer {
    display: flex;
    justify-content: space-between;
    line-height: 1.28;
    margin: 10px 0px;
}

.searchAvailableFilter.ant-input-group-wrapper {
    width: 100% !important;
}

.availableCampaignSearchContainer {
    margin: 10px 0px;
}

.ant-input-search-button {
    display: none;
}

.leftFilterContainer {
    overflow-x: hidden;
    overflow-y: hidden;
    display: flex;
    position: relative;
}

.rightFilterContainer {}

.searchFilterBtnContainer {
    cursor: pointer;
    border-width: 1px;
    padding: 9px;
    border-style: solid;
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 999px;
    margin-left: 8px;
    background-color: #fff;
    border-color: #0a78be;
}

.searchFilterBtn {
    width: 15px;
    height: 17px;
    mask-image: url(https://static.xx.fbcdn.net/rsrc.php/v4/yK/r/OXtnwMESRKb.png);
    mask-size: 249px 1226px;
    mask-position: -119px -1175px;
    background: #0a78be;
}

.dividerAvailableFilter {
    width: 0;
    border-style: solid;
    border-width: 0.1px;
    align-self: stretch;
    margin: 8px;
    border-color: #cbd2d9;
}


.activeFilterContainer {
    border-color: #0a78be;
}

.filterBtnContainer {
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border-radius: 999px;
    background-color: #fff;
    margin: 0px 3px;
    padding: 2px 12px;
    display: flex;
    height: 36px;
}

.seeMoreFilterContainer {
    border-style: none !important;
}

.seeMoreIconFilter {
    width: 16px;
    height: 16px;
    mask-image: url("../../assets/infoAllIcon.png");
    mask-size: 51px 220px;
    mask-position: -34px -169px;
    background-color: black;
}

.allAdsIconFilter {
    width: 16px;
    height: 16px;
    mask-image: url("../../assets/all-in-one-logo.png");
    mask-size: 441px 402px;
    mask-position: -34px -355px;
    background-color: black;
}

.activeIconFilter {
    background-color: #0a78be !important;
}

.activeFilterTitle {
    font-weight: 700 !important;
    color: #0a78be !important;
}

.filterTitle {
    font-weight: 300;
    color: black;
    margin: 0px 7px;
}

.allActiveAdsIconFilter {
    width: 16px;
    height: 16px;
    mask-image: url("../../assets/availableFilterIcon.png");
    mask-size: 73px 1002px;
    mask-position: -17px -834px;
    background-color: black;
}

.allHadDeliveryIconFilter {
    width: 16px;
    height: 16px;
    mask-image: url("../../assets/availableFilterIcon.png");
    mask-size: 73px 1002px;
    mask-position: -34px -817px;
    background-color: black;
}

.availableFilterSettings {
    width: 16px;
    height: 16px;
    mask-image: url("../../assets/availableAppsIcon.png");
    mask-size: 33px 932px;
    mask-position: 0px -694px;
    background-color: black;
}

.availableCampaignTabsContainer {
    display: flex;
    width: 50%;
}

.tabTitle {
    text-overflow: ellipsis;
    font-size: 1rem !important;
    font-weight: 700;
    margin-left: 8px;
}

.tabContainer {
    display: flex;
    align-items: center;
    height: 50px;
    border: 1px solid white;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: white;
    padding: 13px;
    margin-right: 10px;
    width: 100%;
}

.campaignTab {
    width: 23px;
    height: 23px;
    mask-image: url("../../assets/all-in-one-logo.png");
    mask-size: 444px 402px;
    mask-position: -101px -222px;
    background-color: #0a78be;
}

.adSetsTab {
    width: 23px;
    height: 20px;
    mask-image: url("../../assets/all-in-one-logo.png");
    mask-size: 444px 402px;
    mask-position: -20px -295px;
    background-color: black;
}

.adsTab {
    width: 23px;
    height: 20px;
    mask-image: url("../../assets/all-in-one-logo.png");
    mask-size: 444px 402px;
    mask-position: 1px -295px;
    background-color: black;
}