.ant-table-column-sorter-full {
  display: none;
}

/* Target the header row and make it white */
.ant-table-thead>tr>th {
  background-color: #ffffff !important;
}

.ant-table-tbody>tr:nth-child(even) {
  background-color: #ffffff;
  /* White */
}

.ant-table-tbody>tr:nth-child(odd) {
  background-color: #f7f7f7 !important;
  /* Light gray */
}

/* Add borders to table cells */
.ant-table-tbody>tr>td,
.ant-table-thead>tr>th {
  border-bottom: 1px solid #d9d9d9;
  /* Standard light gray border */
  border-left: 1px solid #d9d9d9;
  /* Standard light gray border */
}

/* Optional: ensure the table doesn't collapse borders */
.ant-table {
  border-collapse: separate;
  border-spacing: 0;
}

.ant-table-thead>tr>th {
  border-top: 1px solid #d9d9d9;
  background-color: white;
}

.ant-table-cell {
  padding: 5px !important;
}

.campaignName {
  display: flex;
  flex-direction: column;
}

.campaignNameOptions {
  display: flex;
}

.campaignNameOption {
  margin: 3px 7px 0px 0px;
  cursor: pointer;
  font-size: 11px;
  font-weight: 450;
  display: flex;
  align-items: flex-start;
}

.campaignNameOption .pencilEdit {
  background-color: black !important;
}

.campaignNameTitle {
  pointer-events: auto;
  cursor: pointer;
  line-height: 1.28;
  margin-right: 4px;
  max-width: 100%;
  padding: 0;
  font-size: 14px;
  font-weight: 400;
  color: #3578E5;
  display: flex;
}

.pencilEdit {
  width: 22px;
  height: 18px;
  mask-image: url("../../assets/all-in-one-logo.png");
  mask-size: 571px 398px;
  mask-position: -262px -351px;
  background-color: #807a7a;
  margin-left: 5px;
}

.inactiveOption {
  color: #807a7a !important;
}

.inactiveIconOption {
  background-color: #807a7a !important;
}

.viewChart {
  width: 13px;
  height: 19px;
  mask-image: url("../../assets/all-in-one-logo.png");
  mask-size: 302px 448px;
  mask-position: -223px -355px;
  background-color: black;
  margin-left: 5px;
}

.compareIcon {
  width: 11px;
  height: 14px;
  mask-image: url("../../assets/all-in-one-logo.png");
  mask-size: 380px 396px;
  mask-position: -3442px -382px;
  background-color: black;
  margin-left: 5px;
}

.duplicateIcon {
  width: 15px;
  height: 19px;
  mask-image: url("../../assets/all-in-one-logo.png");
  mask-size: 380px 396px;
  mask-position: -3625px -331px;
  background-color: black;
  margin-left: 5px;
}

.abTestIcon {
  width: 15px;
  height: 19px;
  mask-image: url("../../assets/all-in-one-logo.png");
  mask-size: 358px 294px;
  mask-position: -3826px -161px;
  background-color: black;
  margin-left: 5px;
}

.moreOptionIcon {
  width: 15px;
  height: 8px;
  mask-image: url("../../assets/all-in-one-logo.png");
  mask-size: 391px 329px;
  mask-position: 336px -1963px;
  background-color: black;
  margin-left: 5px;
}

.noBorder {
  border: 0px !important;
}

.threeDots {
  width: 15px;
  height: 7px;
  mask-image: url("../../assets/all-in-one-logo.png");
  mask-size: 380px 396px;
  mask-position: -3746px -244px;
  background-color: black;
  margin-left: 5px;
  margin-top: 5px;
}

.activeGreenDot {
  width: 11px;
  height: 10px;
  mask-image: url("../../assets/all-in-one-logo.png");
  mask-size: 380px 396px;
  mask-position: -3675px -281px;
  background-color: green;
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
}

.deliveryTextContainer {
  display: flex;
  align-items: center;
}

.draftGreenDot {
  width: 8px;
  height: 10px;
  mask-image: url("../../assets/all-in-one-logo.png");
  mask-size: 380px 396px;
  mask-position: -3709px -280px;
  background-color: green;
  margin-left: 8px;
  margin-right: 5px;
  display: inline-block;
}

.rowRevereseContainer {
  display: flex;
  flex-direction: row-reverse;
}

.rightAlignedText {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.helpTextHighlight {
  font-size: .75rem !important;
  font-weight: 400;
  color: #1c2b33a6;
}

.availableCampaignRecordOption {
  padding: 10px 0px;
  background-color: white;
  display: flex;
}

.createNewCampaign {
  cursor: pointer;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  border-radius: 5px;
  background-color: green;
  margin: 0px 3px;
  padding: 2px 12px;
  display: flex;
  height: 36px;
  border-style: none !important;
  width: max-content;
}

.CampaignRecordOptionTitle {
  font-weight: 300;
  color: white;
  margin: 0px 7px;
}

.createIconFilter {
  width: 16px;
  height: 16px;
  mask-image: url("../../assets/infoAllIcon.png");
  mask-size: 51px 220px;
  mask-position: -34px -169px;
  background-color: white;
}

.chartOptionIcon {
  width: 17px;
  height: 20px;
  mask-image: url("../../assets/all-in-one-logo.png");
  mask-size: 405px 456px;
  mask-position: -2165px -421px;
  background-color: black;
  margin-left: 8px;
  margin-right: 5px;
  display: inline-block;
}

.exportOptionIcon {
  width: 15px;
  height: 20px;
  mask-image: url("../../assets/all-in-one-logo.png");
  mask-size: 405px 456px;
  mask-position: -2041px -421px;
  background-color: black;
  margin-left: 8px;
  margin-right: 5px;
  display: inline-block;
}

.reportOptionIcon {
  width: 17px;
  height: 20px;
  mask-image: url("../../assets/all-in-one-logo.png");
  mask-size: 405px 456px;
  mask-position: -2165px -402px;
  background-color: black;
  margin-left: 8px;
  margin-right: 5px;
  display: inline-block;
}

.breakdownOptionIcon {
  width: 17px;
  height: 19px;
  mask-image: url("../../assets/all-in-one-logo.png");
  mask-size: 446px 448px;
  mask-position: -209px -355px;
  background-color: black;
  margin-left: 5px;
}

.colPerformanceOptionIcon {
  width: 17px;
  height: 19px;
  mask-image: url("../../assets/all-in-one-logo.png");
  mask-size: 446px 448px;
  mask-position: -223px -376px;
  background-color: black;
  margin-left: 5px;
}