.ant-input-group-wrapper {
    width: 50% !important;
}

.ant-input-group-addon {
    background-color: transparent !important;
}

.inputCurrencyHolder .ant-input-wrapper .ant-input{
border-right: 0px !important;
}