.FbSearchContainer {
    height: 406px;
    width: 228px;
    border-radius: 4px;
    border-spacing: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    justify-content: center;
    flex-direction: column;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, .03);
}

.headlineContainerFbSearch {
    display: flex;
    height: 58px;
    text-align: left;
    align-items: center;
    flex-direction: row;
    margin: 0px 12px 1px 12px;
}

.headlineImageFbSearch {
    width: 32px;
    height: 32px;
    object-fit: cover;
}

.headlineTitleContainerFbSearch {
    justify-content: center;
    flex-direction: column;
    display: flex;
    margin-left: 8px;
    width: 100%;
}

.controllerContainerFbSearch {
    height: 20px;
    display: flex;
    flex-shrink: 0;
    width: 52px;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.imageContainerFbSearch {
    height: 190px;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 228px;
    display: flex;
    object-fit: cover;
    align-items: flex-start;
    justify-content: space-between;
}

.imageHolderFbSearch {
    width: 112px;
    height: 135px;
}

.imgDescriptionFbSearch {
    line-height: 1.5;
    font-weight: 500;
    font-size: .5375rem;
    -webkit-font-smoothing: antialiased;
    padding: 9px;
}