.formStepControllerContainer {
    height: 55px;
    background: white;
    border: 0.1px solid #1c2b33a6;
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 0px 0px;
    padding: 10px;
    position: sticky;
    bottom: 0px;
    width: 100%;
}

.checkFormSaveEdit {
    background-image: url("../../assets/separatorIcon.png");
    background-position: -132px -199px;
    background-size: 151px 249px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
}

.textEditColor {
    color: #007e59;
}