.campaignNameInbox {
    padding: 15px;
    background: white;
    margin: 10px;
    width: 580px;
    border-radius: 5px;
}

.campaignNameInputTitle {
    display: flex;
    align-items: center;
    margin: 5px 10px 10px 0px;
    justify-content: space-between;
}

.campaignNameInputOperation {
    display: flex;
}

.noMarginTopBottom {
    margin: 25px 5px 5px 0px;
}

.noMargin{
    margin: 0px !important;
}

.displayColumn {
    display: flex;
    flex-direction: column;
}

.campaignNameInput {
    width: 350px !important;
    height: 34px !important;
}

.campaignBoxTitle {
    font-size: 1rem !important;
    word-wrap: normal;
    font-weight: 700;
}

.greenCheck {
    width: 16px;
    height: 16px;
    mask-image: url(https://static.xx.fbcdn.net/rsrc.php/v4/yA/r/2M_0CXhP5Bo.png);
    mask-size: 41px 489px;
    mask-position: -21px -177px;
    background: green;
    margin-right: 10px;
}

.campaignInboxDescription {
    font-weight: 400;
    word-wrap: normal;
    line-height: 1.42858 !important;
    white-space: inherit;
    color: #1c2b33;
    font-size: .875rem !important;
}

.toogleTitle {
    margin-right: 8px;
    font-weight: 500;
}

.inlineFlex {
    display: flex;
    align-items: center;
}

.advantageBudgetInputContainer {
    display: flex;
}

.budgetDescriptionSpan {
    font-weight: 400;
    font-size: .75rem !important;
}

.marginTop5 {
    margin-top: 5px;
}

.marginTop10 {
    margin-top: 10px;
}

.showMoreOption {
    margin-top: 16px;
    line-height: 1.42858 !important;
    font-size: 12px;
    font-weight: 400;
    color: #0a78be;
    display: flex;
    align-items: flex-end;
}

.interInput {
    width: 100%;
}