.width220 {
    width: 220px !important;
}

.gridWrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    padding: 16px;
    background-color: white;
}

.secondColumnWidthStepThree {
    width: 505px;
}

.guageStepThree {
    height: 60px !important;
}

.campaignScoreStepThree {
    margin: 10px 0px 5px 0px;
    height: 66px;
    padding: 0px;
}

.advancedPreviewImg {
    width: 16px;
    height: 16px;
    mask-image: url("../../../assets/advancedPreview.png");
    mask-size: 493px 830px;
    mask-position: -285px -730px;
    background-color: black;
}

.forwardPreview {
    width: 16px;
    height: 16px;
    mask-image: url("../../../assets/forwardPreview.png");
    mask-size: 279px 296px;
    mask-position: -85px -279px;
    background-color: black;
    margin-right: 8px;
}

.downArrowPreview {
    width: 16px;
    height: 16px;
    mask-image: url("../../../assets/downArrow.png");
    mask-size: 21px 1095px;
    mask-position: 0px -948px;
    background-color: black;
}


.heightWindowFixerFinal {
    height: 87vh;
}
