.datePicker {
    width: 50%;
}

.timepicker {
    width: 50%;
}

.ant-picker-outlined {
    border-radius: 0px;
}

.starIcon {
    background-image: url("../../../assets/startIconType.png");
    background-position: -256px -135px;
    background-size: 269px 420px;
    width: 12px;
    height: 12px;
    background-repeat: no-repeat;
    display: inline-block;
    margin-left: 5px;
}

.plusCircleIcon {
    background-image: url("../../../assets/plusIconType.png");
    background-position: 0px -299px;
    background-size: 25px 342px;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    display: inline-block;
}

.marginRight5 {
    margin-right: 5px;
}

.marginLeft5 {
    margin-left: 5px;
}

.marginLeft10 {
    margin-left: 10px;
}

.inlineJustifiedFlex {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
}

.inlineFlexStart {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.columnFlex {
    display: flex;
}

.alignCenterItem {
    align-content: center;
}

.campaignScoreInputTitle {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 5px 10px 10px 0px;
    justify-content: space-between;
}

.graphIcon {
    width: 60px;
    height: 20px;
    mask-image: url("../../../assets/graphIconType.png");
    mask-size: 302px 1311px;
    mask-position: -65px -1246px;
    background-color: #1c2b33a6;
}

.lineMarker {
    background-image: url("../../../assets/lineDivider.png");
    background-position: 0px -36px;
    background-size: 319px 81px;
    width: 318px;
    height: 8px;
    background-repeat: no-repeat;
    display: inline-block;
}
.secondColumnWidth {
    width: 350px;
}

.inlineDisplay {
    display: inline-block;
}

.percentageEstimatesDailyReach {
    background-color: rgb(84, 199, 236);
    width: 5%;
    height: 10px;
}

.percentageEstimatesDailyReachTotal {
    background-color: #a6a8a9a6;
    height: 10px;
}

.heightWindowFixer {
    height: 90vh;
    overflow: hidden;
}

.scroller {
    overflow: scroll;
}

.marginLeft15Percent {
    margin-left: 15%;
}