:root {
  --fds-white: #ffffff;
  --primary-text: rgb(8,8,9);
}

/* Global Antd Designs */
.ant-layout-sider-trigger {
  display: none !important;
}

.ant-layout-content {
  background: linear-gradient(to top, hsl(214, 84%, 85%), hsla(350, 93%, 84%, 0.2)) !important;
  padding: 10px 20px;
}

.ant-table-cell-fix-left {
  border-radius: 0px !important;
  border-left: 0px !important;
}

.ant-table-column-has-sorters {
  border-radius: 0px !important;
  border-left: 0px !important;
}

.body{
  overflow: hidden;
}