.campaignFormScreenContainer {
    display: flex;
    height: 100vh;
}

.campaignLevelBarContainer {
    width: 350px;
    margin: -20px 0px 0px -20px;
    background-color: white;
    min-width: 235px;
}

.campaignFormBarContainer {
    margin: -20px 0px 0px 0px;
    width: 100%;
    display: flex;
    height: max-content;
    margin-right: -30px;
    flex-direction: column;
}

.campaignFormBarContainerHeader {
    display: flex;
    width: 100%;
    background: white;
}

.campaignBox {
    background-color: white;
    height: max-content;
}

.campaignNameInputBox {
    display: flex;
}

.stepContainer {
    overflow: scroll;
    height: 95vh;
}